.topnav {
 height: 45px;
 width: 100vw;
 background-color: white;
 margin: 0px;
 z-index: 0;
 position: fixed;
}
.topnav a {
 padding: 15px;
 background-color: white;
 color: black;
 transition: ease-in-out 0.3s;
 text-decoration: none;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 8px;
}
.topnav a:hover {
 background-color: #e3e3e3;
}
.topnav img {
 float: left;
 height: 45px;
 width: 45px;
}
