@import url('./global.css');
@import url('./elements/news-card.css');
@import url('./elements/cards.css');
@import url('./elements/card.css');

.section-header {
	animation: fadeIn 0.3s ease;
	width: 100%;
	text-align: center;
	margin: 24px 0 20px 0;
}

.news-card {

	img,
	.image {
		object-fit: contain;
		width: 300px;
	}
}

.cards .news-card {
	width: 100%;

	object.image {
		filter: drop-shadow(var(--shadow-light));
	}
}