main {
  justify-content: center;
}

.news {
  padding-bottom: 130px;
  padding-top: 30px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 87vw;
  height: 40vh;
  border-radius: 30px;
  background-color: rgba(230, 230, 240, 0.1);
  margin-top: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  animation: slideIn 0.6s ease;
  cursor: pointer;
}

.news:hover {
  background-color: rgba(250, 250, 255, 0.3);
}

.news img {
  height: 80%;
  border-radius: 30px;
}

.news a a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.card {
  width: 410px;
  padding: 12px;
  margin: 12px;
  background-color: rgba(230, 230, 240, 0.1);
  border-radius: 30px;
  justify-content: center;
  transition: 0.15s ease background-color;
  text-align: center;
  cursor: pointer;
  display: flex;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 68%;
    margin: 10px;
    object-fit: contain;
    border-radius: 50%;
  }

  p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  h2 {
    cursor: pointer;
    font-size: 28px;
  }

  &:hover {
    background-color: rgba(250, 250, 255, 0.3);
  }
}