@keyframes slideIn {
    0% {
      opacity: 0;
      left: -100vw;
      margin-left: -100vw;
    }

    100% {
      left: 0px;
      margin-left: 0;
      opacity: 1;
    }
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    background-image: url("https://github.com/butterdogco/butterdogco.github.io/blob/main/img/backgrounds/DarkBG.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 90;
    height: 120%;
    overflow: overlay;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

#nav {
    display: inline-flex;
    height: 115px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 1;
    right: 1;
    background-color: rgba(230, 230, 240, 0.1);
    backdrop-filter: blur(12px) brightness(90%);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 30px;
    margin: 10px;
    z-index: 8;
    animation: slideIn 0.9s ease;
    transition: 0.3s Ease-in-out;
    width: 225px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #nav img {
    padding: 15px;
    margin: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
