@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0&icon_names=open_in_new');

:root {
  --page-side-padding: 10px;
  --page-bottom-padding: 15px;

  --cardCornerRadius: 30px;
  --cardGap: 15px;

  --shadow-light: 0 0 6px rgba(0, 0, 0, 0.3);
  --shadow-medium: 0 0 10px rgba(0, 0, 0, 0.3);

  --object-padding: 30px;
  --object-border-radius: 30px;

  --nav-icon-size: 50px;
  --nav-object-gap: 40px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInInverted {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  font-family: 'Inter', 'Helvetica', 'Roboto', sans-serif;
  color: white;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

html {
  background-color: #19120d;
  background-image: url("../img/backgrounds/VerticalBackgroundTest3.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
  width: 100vw;
  padding: 0;
}

body {
  background: transparent;
  width: calc(100vw - (var(--page-side-padding) * 2));
  min-height: calc(100vh - (var(--page-side-padding) + var(--page-bottom-padding)));
  padding: var(--page-side-padding) var(--page-side-padding) var(--page-bottom-padding) var(--page-side-padding);
}

main {
  margin-top: 125px;
}

a {
  color: inherit;
  text-decoration: none;
}

a.hyperlink {
  color: #9292ff;
  text-decoration: underline;
}

.top-nav {
  display: inline-flex;
  position: fixed;
  flex-flow: row;
  gap: var(--nav-object-gap);
  align-items: center;
  width: calc((var(--nav-icon-size) * 2) + var(--nav-object-gap));
  background-color: rgba(230, 230, 240, 0.1);
  outline: 2.5px solid rgba(255,255,255,0.1);
  padding: var(--object-padding);
  overflow: scroll hidden;
  white-space: nowrap;
  border-radius: var(--object-border-radius);
  backdrop-filter: blur(12px) brightness(90%);
  -webkit-backdrop-filter: blur(12px);
  animation: slideIn 0.6s ease;
  transition: 0.3s Ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 8;

  &.active {
    width: calc(100vw - (var(--page-side-padding) * 2) - (var(--object-padding) * 2));

    #menuIcon {
      opacity: 0;
      pointer-events: none;
    }

    #closeMenuIcon {
      opacity: 1;
      pointer-events: all;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #menuIcon {
    opacity: 1;
    pointer-events: all;
    transition: 0.15s ease;

    &:hover {
      filter: brightness(60%);
    }
  }

  #closeMenuIcon {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease;

    &:hover {
      filter: brightness(60%);
    }
  }

  a {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
    transition: 0.15s ease;
    transition-property: transform, text-decoration-color;
    
    &:hover {
      transform: scale(1.3);
      transition: 0.15s ease;
      text-decoration-color: white;
    }
  }

  #active {
    font-weight: bold;
  }

  img {
    height: var(--nav-icon-size);
    width: var(--nav-icon-size);
    cursor: pointer;
  }
}

pre {
  white-space: pre-wrap;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.dvd {
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s linear;
  pointer-events: none;
  animation: fadeIn 5s ease;
}

#pageID {
  display: none;
}

.hidden {
  display: none;
}

.img-anchor-right {
  object-position: right !important;
}

.img-square {
  aspect-ratio: 1 / 1 !important;
}

.img-circle {
  border-radius: 50% !important;
}