  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    100% {
      left: 0px;
      transform: translateX(0%);
    }
  }
  
  @keyframes slideInInverted {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  * {
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  body {
    background-color: black;
    background-image: url("https://github.com/butterdogco/butterdogco.github.io/blob/main/docs/img/backgrounds/DarkBG.png?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 90;
    height: 120%
    max-width: 100vw;
    overflow-x: hidden;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a.hyperlink {
    color: #9292ff;
    text-decoration: underline;
  }

#nav {
    display: inline-flex;
    height: 115px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 1;
    right: 1;
    background-color: rgba(230, 230, 240, 0.1);
    backdrop-filter: blur(12px) brightness(90%);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 30px;
    margin: 10px;
    z-index: 8;
    animation: slideIn 0.6s ease;
    transition: 0.3s Ease-in-out;
    width: 225px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }
  
    #menuIcon {
      transition: 0.2s ease;
    }
  
    #menuIcon:hover {
      filter: brightness(80%);
    }
  
    #closeMenuIcon:hover {
      filter: brightness(80%);
    }
  
    #closeMenuIcon {
      display: none;
      transition: 0.2s Ease-in-out;
    }
  
    a {
      margin: 38px;
      font-size: 30px;
      transition: 0.2s ease;
    }
  
    #active {
      font-weight: bold;
        letter-spacing: 4;
    }
  
    a:hover {
      font-size: 40px;
        letter-spacing: 4;
        transition: 0.2s ease;
    }
  
    img {
      padding: 15px;
      margin: 15px;
      height: 50px;
      width: 50px;
      cursor: pointer;
    }
  }

  pre {
    white-space: pre-wrap;
  }

  *::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  
  .dvd {
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s linear;
    /*opacity: 0.2;*/
    pointer-events: none;
    animation: fadeIn 5s ease;
  }